{% extends 'website/index.html' %}

{% block title %}U.MANO APP PRIVACY POLICY{% endblock %}
{% block content %}

    <div class="inneer" style="overflow-y: auto; overflow-x: hidden; padding:10px; background-color: white">
        <style type="text/css">ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c0 {
            color: #0000ff;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-style: normal
        }

        .c17 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c12 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-style: italic
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-style: normal
        }

        .c22 {
            padding-top: 30pt;
            text-indent: 247.7pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c5 {
            margin-left: 3.1pt;
            padding-top: 2.2pt;
            text-indent: 15.8pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c7 {
            margin-left: 3.1pt;
            padding-top: 2.2pt;
            text-indent: 15.8pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c10 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-style: normal
        }

        .c11 {
            margin-left: 24pt;
            padding-top: 1.9pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c19 {
            padding-top: 69.1pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c20 {
            padding-top: 69.1pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
            margin-right: 210pt
        }

        .c2 {
            padding-top: 15.8pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c21 {
            padding-top: 16.1pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: justify;
        }

        .c26 {
            margin-left: 3.1pt;
            padding-top: 69.1pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c4 {
            margin-left: 24pt;
            padding-top: 15.8pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
            margin-right: 135.4pt
        }

        .c23 {
            padding-top: 17.3pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: justify;
        }

        .c25 {
            padding-top: 16.1pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c24 {
            margin-left: 24pt;
            padding-top: 15.8pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c18 {
            margin-left: 161pt;
            padding-top: 82.1pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: center;
            margin-right: 160.8pt
        }

        .c16 {
            margin-left: 377.5pt;
            padding-top: 43.7pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c3 {
            padding-top: 15.8pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: justify;
        }

        .c13 {
            margin-left: 24pt;
            padding-top: 16.1pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: justify;
        }

        .c8 {
            padding-top: 16.1pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c27 {
            margin-left: 24pt;
            padding-top: 16.1pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c9 {
            margin-left: 3.1pt;
            padding-top: 1.9pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
        }

        .c15 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c14 {
            text-indent: 15.8pt
        }


        li {
            color: #000000;
            font-size: 11pt;
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }</style>
        <body class="c15"><p class="c18"><span class="c17">Informativa Privacy </span><br/><span
                class="c10">14 novembre 2019 </span></p>
        <p class="c23"><span class="c1">Ciao e benvenuto/a nell&rsquo;informativa </span><span
                class="c12">privacy </span><span class="c1">(in seguito indicata anche come &ldquo;Informativa&rdquo;) dell&rsquo;applicazione mobile, presente su &lsquo;Apple Store&rsquo; e &lsquo;Android Store&rsquo;, denominata U.MANO (successivamente indicata anche come &ldquo;App&rdquo;). </span>
        </p>
        <p class="c21"><span class="c1">App &egrave; un software di propriet&agrave; di Fondazione Golinelli (in seguito indicata anche come &ldquo;FG&rdquo;). Per fornirti il miglior servizio possibile, FG ha bisogno di raccogliere alcune minime informazioni su di te. In questa pagina ti forniremo tutte le informazioni per permetterti di conoscere la nostra politica in materia di raccolta e utilizzo delle tue informazioni personali. </span>
        </p>
        <p class="c21"><span class="c1">Ti segnaliamo come la presente Informativa non &egrave; riferita ai servizi offerti da soggetti terzi (ai quali sia eventualmente possibile accedere per mezzo di </span><span
                class="c12">link </span><span class="c1">posti sull&rsquo;App) e alle loro modalit&agrave; di trattamento dei dati personali dell&rsquo;utente. </span>
        </p>
        <p class="c21"><span class="c1">La presente Informativa potr&agrave; subire integrazioni o variazioni al fine di renderla aggiornata rispetto alla normativa e/o adeguata rispetto ad eventuali modifiche tecniche apportate all&rsquo;App e/o ad eventuali modificazioni nelle finalit&agrave; o nelle modalit&agrave; del trattamento dei dati. </span>
        </p>
        <p class="c3"><span class="c1">Ti informeremo con appositi avvisi di eventuali modifiche, ma ti consigliamo di controllare periodicamente questo documento per restare aggiornato. Le eventuali versioni aggiornate, che recheranno la data in cui si &egrave; proceduto all&rsquo;aggiornamento, saranno pubblicate tempestivamente su questo documento e diverranno efficaci subito dopo la pubblicazione. </span>
        </p>
        <p class="c3"><span class="c1">La base normativa di riferimento sulla quale si basa questa informativa &egrave; il Regolamento Europeo sulla Protezione dei Dati n. 679/2016 del 27 aprile 2016 relativo alla protezione delle persone fisiche con riguardo al trattamento e alla libera circolazione dei dati personali, in particolare l&rsquo;art. 13 del Regolamento. </span>
        </p>
        <p class="c22"><span class="c1">*** </span><span class="c6">1. Titolare del trattamento </span><span class="c1">Il titolare del trattamento dei tuoi dati personali &egrave; </span><span
                class="c6">Fondazione Golinelli</span><span class="c1">, con sede legale a Bologna (BO) alla via Paolo Nanni Costa n. 14, e-Mail: </span><span
                class="c0">privacy@fondazionegolinelli.it</span><span class="c1">, in seguito indicata anche come la&ldquo;Titolare&rdquo;. L&rsquo;elenco dei responsabili e/o autorizzati del trattamento potr&agrave; essere richiesto inoltrando una semplice richiesta scritta alla Titolare ai recapiti sopra indicati. </span>
        </p>
        <p class="c20"><span class="c6">2. Tipi di dati trattati e finalit&agrave; del trattamento </span></p>
        <p class="c11"><span class="c6">2.1 Dati di navigazione/utilizzo dell&rsquo;App </span><span class="c1">I sistemi informatici e le procedure preposte al funzionamento dell&rsquo;App possono acquisire in modo automatica, nel corso del loro normale esercizio, alcuni dati personali relativi alla tua navigazione e/o di utilizzo dell&rsquo;App, quali, a titolo esemplificativo, l&rsquo;indirizzo </span><span
                class="c12">IP </span><span class="c1">o codice similare, codice </span><span
                class="c12">IMEI </span><span
                class="c1">del dispositivo, il numero di accessi, la durata della navigazione, le sezioni visualizzate, la data e l&rsquo;ora in cui &egrave; avvenuto l&rsquo;accesso. </span>
        </p>
        <p class="c13"><span class="c1">I dati di navigazione e/o utilizzo dell&rsquo;APP sono raccolti esclusivamente al fine di ottenere informazioni statistiche anonime circa l&rsquo;uso dell&rsquo;App e per controllarne il corretto funzionamento. Essi potrebbero tuttavia, per loro stessa natura, permettere di risalire, anche attraverso elaborazioni ed associazioni con altri dati, alla tua identit&agrave;. I dati di navigazione e/o di utilizzo dell&rsquo;App non vengono in nessun caso utilizzati per definire i profili o la personalit&agrave; dell&rsquo;interessato o per invio di materiale pubblicitario. </span>
        </p>
        <p class="c24"><span
                class="c1">La base giuridica per questi trattamenti &egrave; il perseguimento del </span><span
                class="c6">legittimo interesse </span><span class="c1">della titolare del trattamento (art. 6.1-f del Regolamento). </span>
        </p>
        <p class="c4"><span class="c1">Non vengono raccolti ulteriori dati personali dell&rsquo;utente. </span></p>
        <p class="c27"><span class="c6">2.2 Minori di anni 18 (diciotto) </span><span class="c1">Nel caso tu non abbia compiuto l&rsquo;et&agrave; di anni 18 (diciotto), o tu non sia in possesso della capacit&agrave; di agire, la presente Informativa &egrave; rivolta al soggetto a ci&ograve; preposto dalla legge italiana vigente, il quale &egrave; l&rsquo;unico soggetto abilitato a prestare il relativo espresso consenso. </span>
        </p>
        <p class="c8"><span class="c6">3. Modalit&agrave; del trattamento </span><span class="c1">I dati personali detenuti per le finalit&agrave; sopra esposte vengono trattati dalla Titolare, in modo lecito e secondo correttezza, mediante il prevalente utilizzo di strumenti automatizzati o semi-automatizzati. </span>
        </p>
        <p class="c25"><span class="c6">4. Facoltativit&agrave; del conferimento dei dati e conseguenze di un tuo eventuale rifiuto </span><span
                class="c1">Salvo le ipotesi in cui l&rsquo;acquisizione dei dati avvenga in modo automatico per effetto della tua semplice navigazione sull&rsquo;App - o in cui il conferimento dei dati sia necessario ai fini della fruizione dei servizi che ci hai richiesto - il tuo conferimento di ogni altro dato personale &egrave; del tutto facoltativo. Il tuo mancato conferimento di dati facoltativi non comporta alcuna conseguenza pregiudizievole a tuo carico. </span>
        </p>
        <p class="c19"><span class="c6">5. Categorie di soggetti ai quali i dati personali possono essere comunicati e ambito di diffusione dei dati </span><span
                class="c1">Salvo che non sia diversamente precisato in relazione alle singole finalit&agrave; del trattamento come sopra specificate, i dati personali raccolti potranno essere comunicati a &ndash; o comunque venire a conoscenza di &ndash; soggetti autorizzati e/o responsabili (anche esterni) del trattamento, in relazione alle competenze e funzioni di ognuno, al fine di soddisfare le predette finalit&agrave; o per porre in essere specifici adempimenti normativi e/o contrattuali. </span>
        </p>
        <p class="c3"><span class="c1">I dati personali trattati dalla Titolare non sono in generale comunicati ad altri soggetti titolari di trattamento, salva l&rsquo;ipotesi in cui ci&ograve; dovesse risultare necessario in ossequio a disposizioni normative o contrattuali o per assolvere specifici adempimenti. In ogni caso i dati personali non saranno oggetto di diffusione n&eacute;, salvo quanto sopra indicato, di comunicazione a soggetti terzi. </span>
        </p>
        <p class="c2"><span class="c6">6. Durata della conservazione dei tuoi dati </span><span class="c1">La Titolare conserver&agrave; eventuali tue informazioni personali per tutto il tempo in cui l&rsquo;App sar&agrave; presente sul tuo dispositivo. </span>
        </p>
        <p class="c8"><span class="c6">7. Localizzazione dei dati personali </span><span class="c1">I tuoi dati personali sono memorizzati all&rsquo;interno dell&rsquo;Area Economica Europea (indicata anche come &lsquo;AEE&rsquo;). La Titolare si riserva inoltre di trasferire i tuoi dati personali verso paesi che ci garantiscono un livello di sicurezza adeguato, sulla base delle decisioni di adeguatezza della Commissione Europea oppure sulla base delle adeguate garanzie previste dalla normativa vigente. </span><span
                class="c6">8. Quali sono i tuoi diritti? </span><span class="c1">Come interessato del trattamento dei tuoi dati personali hai il diritto di chiederci: </span>
        </p>
        <p class="c9"><span class="c1">A. la conferma che sia o meno in corso un trattamento dei tuoi dati personali e, in tal </span>
        </p>
        <p class="c7"><span class="c1">caso, di ottenerne l&rsquo;accesso (diritto di accesso); B. la rettifica dei tuoi dati personali inesatti, o l&rsquo;integrazione dei tuoi dati personali </span>
        </p>
        <p class="c9 c14"><span class="c1">incompleti (diritto di rettifica); C. la cancellazione dei tuoi dati, se sussiste uno dei motivi previsti dal Regolamento </span>
        </p>
        <p class="c9 c14"><span class="c1">(diritto all&rsquo;oblio); D. la limitazione del trattamento dei tuoi dati quando ricorre una delle ipotesi previste </span>
        </p>
        <p class="c5"><span class="c1">dal Regolamento (diritto di limitazione); E. di ricevere in un formato strutturato, di uso comune e leggibile da dispositivo automatico i tuoi dati e di trasmettere, ove tecnicamente possibile, tali dati a un altro titolare del trattamento (diritto alla portabilit&agrave;). F. il diritto di revocare il consenso al trattamento dei tuoi dati, in qualsiasi momento, senza pregiudicare la liceit&agrave; del trattamento basata sul consenso prestato prima della revoca e di opporti in qualsiasi momento al trattamento per finalit&agrave; di marketing o diversa finalit&agrave; ulteriori (diritto di opposizione); </span>
        </p>
        <p class="c26"><span class="c1">G. il diritto di opporti, per motivi legittimi, al trattamento dei tuoi dati anche qualora </span>
        </p>
        <p class="c9 c14"><span class="c1">pertinenti allo scopo della raccolta; H. il diritto di opporti al trattamento dei tuoi dati ai fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazioni commerciali. </span>
        </p>
        <p class="c8"><span class="c6">9. Informazioni </span><span class="c1">Puoi esercitare i diritti sopra menzionati in qualunque momento, inoltrando una semplice richiesta a questo indirizzo eMail </span><span
                class="c0">privacy@fondazionegolinelli.it</span><span class="c1">. Ti contatteremo o informeremo nel pi&ugrave; breve tempo possibile e, comunque, entro 30 (trenta) giorni dalla data della tua richiesta. </span>
        </p>
        <p class="c25"><span class="c6">10. Reclami </span><span class="c1">Qualora tu ritenga sia stata violata la normativa in materia di protezione dati personali per quanto concerne il trattamento dei tuoi dati, hai inoltre il diritto di presentare un reclamo davanti all&rsquo;Autorit&agrave; locale per la protezione dei dati personali all&rsquo;interno dell&rsquo;Area Economica Europea (&lsquo;AEE&rsquo;). Puoi trovare i riferimenti delle singole Autorit&agrave;, a seconda del paese in cui ti trovi, cliccando su questo link </span><span
                class="c0">http://www.garanteprivacy.it/web/guest/home/ footer/link </span></p>
        <p class="c16"><span class="c1">[fine documento] </span></p>
    </body>
    </div>

{% endblock %}

{% block nav %}
    <li><a href="/" style="color:white">Torna alla home</a></li>
{% endblock %}