; supervisor config file

[unix_http_server]
file=/usr/local/var/run/supervisor.sock   ; (the path to the socket file)
chmod=0700                       ; sockef file mode (default 0700)

[supervisord]
logfile=/usr/local/var/log/supervisord/supervisord.log ; (main log file;default $CWD/supervisord.log)
pidfile=/usr/local/var/run/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
childlogdir=/usr/local/var/log/supervisord            ; ('AUTO' child log dir, default $TEMP)
loglevel=debug
; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[rpcinterface:multivisor]
supervisor.rpcinterface_factory = multivisor.rpc:make_rpc_interface
bind=*:9032

[supervisorctl]
serverurl=unix:///usr/local/var/run/supervisor.sock ; use a unix:// URL  for a unix socket

; The [include] section can just contain the "files" setting.  This
; setting can list multiple files (separated by whitespace or
; newlines).  It can also contain wildcards.  The filenames are
; interpreted as relative to this file.  Included files *cannot*
; include files themselves.

[program:cave-chief]
user=mini1
directory=/Users/mini1/projects/u-mano
command=/Users/mini1/opt/miniconda3/envs/umano/bin/python umano/services/thechief.py
autostart=true
autorestart=true
environment=PYTHONPATH=/Users/mini1/projects/u-mano:/Users/mini1/projects/u-mano/umano
redirect_stderr=true
stdout_logfile=/usr/local/var/log/supervisord/%(program_name)s.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10

[program:manosola-webserver]
user=mini1
directory=/Users/mini1/projects/u-mano
command=/Users/mini1/opt/miniconda3/envs/umano/bin/python umano/services/http_server.py --port=9000 --directory=/Users/mini/projects/u-mano/media/onehand
autostart=true
autorestart=true
environment=PYTHONPATH=/Users/mini1/projects/u-mano:/Users/mini1/projects/u-mano/umano
redirect_stderr=true
stdout_logfile=/usr/local/var/log/supervisord/%(program_name)s.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10

[program:clickfaker]
user=mini1
directory=/Users/mini1/projects/u-mano
command=/Users/mini1/opt/miniconda3/envs/umano/bin/python umano/services/click_faker.py
autostart=true
autorestart=true
environment=PYTHONPATH=/Users/mini1/projects/u-mano:/Users/mini1/projects/u-mano/umano
redirect_stderr=true
stdout_logfile=/usr/local/var/log/supervisord/%(program_name)s.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10

[program:manosola-NomadeWEB]
user=mini1
directory=/Users/mini1/projects/u-mano
command=/Users/mini1/opt/miniconda3/envs/umano/bin/python umano/services/http_server.py --port=8000 --directory=/Users/mini/projects/u-mano/umano/onehand/ui/web
autostart=true
autorestart=true
environment=PYTHONPATH=/Users/mini1/projects/u-mano:/Users/mini1/projects/u-mano/umano
redirect_stderr=true
stdout_logfile=/usr/local/var/log/supervisord/%(program_name)s.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10


[program:manosola-NomadeWEBSOCKET]
user=mini1
directory=/Users/mini1/projects/u-mano
command=/Users/mini1/opt/miniconda3/envs/umano/bin/python umano/services/nomade_notouch.py
autostart=true
autorestart=true
environment=PYTHONPATH=/Users/mini1/projects/u-mano:/Users/mini1/projects/u-mano/umano
redirect_stderr=true
stdout_logfile=/usr/local/var/log/supervisord/%(program_name)s.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10
