{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>U.MANO | PRIVACY POLICY</title>
    <meta name="description"
          content="privacy policy"/>
    <link rel="stylesheet" type="text/css" href={% static "css/umano.css" %}/>

</head>
<body >
<main>
  <div class="frame">
        <div class="frame__title-wrap">
            <h1 class="frame__title">PRIVACY POLICY</h1>
        </div>
  </div>
</main>


</body>
</html>